The best results of CAFE

In [3]:
# The best results of CAFE
! parallel "grep -H 'Model Gamma Final' data{1}/k{2}/test{3}/Gamma_results.txt" ::: 1 ::: {2..5} ::: {1..3}|sort -t ':' -k3 -n

data1/k5/test1/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
data1/k5/test3/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41738.2
data1/k4/test2/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41738.8
data1/k4/test3/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41738.8
data1/k4/test1/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41744.1
data1/k5/test2/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41755.5
data1/k3/test1/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41804.1
data1/k3/test2/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41804.1
data1/k3/test3/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41804.1
data1/k2/test2/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 42038.7
data1/k2/test1/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 42039
data1/k2/test3/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 42039

In [5]:
# Determine whether the result is consistent
! parallel "grep -H 'Model Gamma Final' valid/k5_data1/test{}/Gamma_results.txt" ::: {1..30}|sort -t':' -k3 -n

valid/k5_data1/test5/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.8
valid/k5_data1/test13/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
valid/k5_data1/test14/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
valid/k5_data1/test18/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
valid/k5_data1/test1/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
valid/k5_data1/test21/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
valid/k5_data1/test24/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41734.9
valid/k5_data1/test27/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41735
valid/k5_data1/test10/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41735.1
valid/k5_data1/test22/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41735.2
valid/k5_data1/test7/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41735.2
valid/k5_data1/test9/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41735.8
valid/k5_data1/test20/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41736.3
valid/k5_data1/test26/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41736.5
valid/k5_data1/test12/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41737.4
valid/k5_data1/test19/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41738.5
valid/k5_data1/test23/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41739.2
valid/k5_data1/test29/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41739.2
valid/k5_data1/test4/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41740
valid/k5_data1/test2/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41741
valid/k5_data1/test28/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41741.4
valid/k5_data1/test25/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41744.3
valid/k5_data1/test16/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41744.8
valid/k5_data1/test17/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41748.2
valid/k5_data1/test6/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41748.6
valid/k5_data1/test11/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41757
valid/k5_data1/test15/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41763.8
valid/k5_data1/test3/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 41770.7
valid/k5_data1/test8/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 42373.9
valid/k5_data1/test30/Gamma_results.txt:Model Gamma Final Likelihood (-lnL): 42691.4

we choose `valid/k5 data1/test5` as the final result.

In [1]:
import pandas as pd
from pathlib import Path
from Bio import Phylo

In [ ]:
# Name gene families using human gene symboles 
HOG = pd.read_csv('./HOG.tsv', sep = '\t', header=0)
HOG = HOG[['HOG', 'HomSap']]
# If a gene family contains multiple genes, then the default choice is to use the first human gene symbol as the name for that gene family.
HOG = HOG[~HOG.HomSap.isna()]
HOG['HomSap'] = HOG['HomSap'].apply(lambda x: x.split(',')[0].replace('|HomSap', ''))
HOG

                 HOG        HomSap
1      N0.HOG0000001         OR7C1
2      N0.HOG0000002         OR7C2
4      N0.HOG0000004         OR7A5
8      N0.HOG0000008        ZNF584
9      N0.HOG0000009        ZNF419
...              ...           ...
20070  N0.HOG0020070  LOC124905372
20071  N0.HOG0020071  LOC124905351
20072  N0.HOG0020072  LOC124905345
20073  N0.HOG0020073  LOC124905366
20074  N0.HOG0020074      HLA-DRB4

[18149 rows x 2 columns]

In [4]:
# draw the phylogenetic tree
tree = Phylo.parse('./CAFEV5/Gamma_asr.tre', 'nexus')
a = next(tree)
tree_dic = {i.name:i for i in Phylo.parse('./CAFEV5/Gamma_asr.tre', 'nexus')}

for i in a.get_terminals():
    i.name = i.name.split('_')[0].replace('*','')
for i in a.get_nonterminals():
    i.name = i.name.split('_')[0].replace('*', '')
Phylo.draw(a)

In [6]:
family_results = pd.read_csv('./CAFEV5/Gamma_clade_results.txt', sep='\t', header=0)
family_results

     #Taxon_ID  Increase  Decrease
0   ArtJam<11>       155        98
1         <27>        49        29
2         <21>        10         0
3         <31>        24         8
4    HomSap<1>       942        85
5         <30>        48        13
6   PipKuh<16>       300        67
7    MusMus<2>       311        27
8         <22>        54         0
9         <23>        17         1
10   FelCat<3>       238        47
11   EquCab<4>       349        62
12        <33>       130         9
13        <34>        95        15
14  MinNat<13>       161       119
15        <24>        49        13
16        <29>       115        20
17        <25>         1         5
18        <26>        33        53
19   RouAeg<5>       139        35
20   PteAle<6>       113        58
21   HipArm<7>       268        64
22   RhiFer<8>       405        19
23        <28>        53         7
24  MyoDav<15>       298       125
25   DesRot<9>       258        48
26  PhyDis<10>       236        39
27    IaIo<18>       367        92
28  MolMol<12>       416        42
29        <32>        13        13
30  NycAvi<17>       248        83
31  MyoMyo<14>       535        38
32        <36>        84        28
33        <35>        67         5
34        <37>        64        11
35  EptFus<19>       278        41

In [7]:
# load the pvalue of gene families
pvalue = pd.read_csv('./CAFEV5/Gamma_branch_probabilities.tab', header=0, sep='\t')

# load the change number of gene families
change = pd.read_csv('./CAFEV5/Gamma_change.tab', header=0, sep='\t')

In [8]:
# Customize a function to filter out significantly changed gene families for each species. 
def sig_change(species, pvalue, change):
    sig = pvalue.loc[pvalue[species]<0.05, ['FamilyID', species]]
    exp = change.loc[change[species]>0, ['FamilyID', species]]
    con = change.loc[change[species]<0, ['FamilyID', species]]
    
    sig_exp = pd.merge(sig, exp, on='FamilyID', suffixes=['_pvalue', '_change'], how='inner')
    sig_con = pd.merge(sig, con, on='FamilyID', suffixes=['_pvalue', '_change'], how='inner')
    
    return sig_exp, sig_con

In [9]:
tmp = list()
for i in change.columns[1:]:
    sig_exp, sig_con = sig_change(i, pvalue, change)
    tmp.append([i, len(sig_exp), len(sig_con)])
pd.DataFrame(tmp, columns=['SP', 'exp', 'con']).to_csv('test.tsv', header=True, index=False, sep='\t')

In [212]:
# The evolved gene families of ancestor node of N. aviatro and P. kuhlii
sp_2_exp, sp_2_con = sig_change('<36>', pvalue=pvalue, change=change)
sp_2_exp = pd.merge(HOG, sp_2_exp, left_on='HOG', right_on='FamilyID', how='inner')
sp_2_con = pd.merge(HOG, sp_2_con, left_on='HOG', right_on='FamilyID', how='inner')

In [11]:
# The significant evoloved gene families in N. aviator
NycAvi_sig = pvalue.loc[pvalue['NycAvi<17>']<0.05, ['FamilyID', 'NycAvi<17>']]
NycAvi_exp = change.loc[change['NycAvi<17>']>0, ['FamilyID', 'NycAvi<17>']]
NycAvi_con = change.loc[change['NycAvi<17>']<0, ['FamilyID', 'NycAvi<17>']]

NycAvi_sig_exp = pd.merge(NycAvi_sig, NycAvi_exp, on='FamilyID', suffixes=['_pvalue', '_change'], how='inner')
NycAvi_sig_con = pd.merge(NycAvi_sig, NycAvi_con, on='FamilyID', suffixes=['_pvalue', '_change'], how='inner')

In [12]:
# The significant evoloved gene families in I. io
IaIo_sig = pvalue.loc[pvalue['IaIo<18>']<0.05, ['FamilyID', 'IaIo<18>']]
IaIo_exp = change.loc[change['IaIo<18>']>0, ['FamilyID', 'IaIo<18>']]
IaIo_con = change.loc[change['IaIo<18>']<0, ['FamilyID', 'IaIo<18>']]

IaIo_sig_exp = pd.merge(IaIo_sig, IaIo_exp, on='FamilyID', suffixes=['_pvalue', '_change'], how='inner')
IaIo_sig_con = pd.merge(IaIo_sig, IaIo_con, on='FamilyID', suffixes=['_pvalue', '_change'], how='inner')

In [ ]:
# using human symbol to annotate evolved gene families in N. aviator
NycAvi_sig_exp = pd.merge(HOG, NycAvi_sig_exp, left_on='HOG', right_on='FamilyID', how='inner')
NycAvi_sig_con = pd.merge(HOG, NycAvi_sig_con, left_on='HOG', right_on='FamilyID', how='inner')

# using human symbol to annotate evolved gene families in I. io
IaIo_sig_exp = pd.merge(HOG, IaIo_sig_exp, left_on='HOG', right_on='FamilyID', how='inner')
IaIo_sig_con = pd.merge(HOG, IaIo_sig_con, left_on='HOG', right_on='FamilyID', how='inner')

In [38]:
# The evoloved gene families intersecton between I. io and N. aviator
set(IaIo_sig_exp.HomSap) & set(NycAvi_sig_con.HomSap)

{'BANF1'}

In [14]:
# save the results 
NycAvi_sig_exp.to_csv('NycAvi_sig_exp.tsv', header=True, index=False)
NycAvi_sig_con.to_csv('NycAvi_sig_con.tsv', header=True, index=False)

IaIo_sig_exp.to_csv('IaIo_sig_exp.tsv', header=True, index=False)
IaIo_sig_con.to_csv('IaIo_sig_con.tsv', header=True, index=False)

### potential gene loss events

In [22]:
# count the number of member in each species in each gene families
count = pd.read_csv('./HOG.tsv', header=0, sep='\t')
count.drop(columns=['OG', 'Gene Tree Parent Clade'], inplace=True)
count.fillna(0, inplace=True)
for i in count.columns[1:]:
    count[i] = count[i].apply(lambda x: 0 if x == 0 else x.count('|'))
count

,HOG,ArtJam,DesRot,EptFus,EquCab,FelCat,HipArm,HomSap,IaIo,MinNat,MolMol,MusMus,MyoDav,MyoMyo,NycAvi,PhyDis,PipKuh,PteAle,RhiFer,RouAeg
0,N0.HOG0000000,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
1,N0.HOG0000001,2,2,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1
2,N0.HOG0000002,0,0,1,1,1,1,1,1,1,0,1,1,1,1,0,1,1,0,1
3,N0.HOG0000003,1,1,2,0,1,1,0,1,0,1,0,2,1,1,2,1,5,1,1
4,N0.HOG0000004,34,53,45,12,37,18,3,46,8,7,2,29,12,56,20,26,14,15,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20519,N0.HOG0020519,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
20520,N0.HOG0020520,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
20521,N0.HOG0020521,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
20522,N0.HOG0020522,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
20523,N0.HOG0020523,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2

In [23]:
# If the number of members in a gene family of a species is 0, it is considered a potential gene loss event
# Identify potential gene loss events in two avivorous bat species
gene_loss = count[(count.apply(lambda x: len(x[x==0]), axis = 1) == 2) & (count.IaIo == 0) & (count.NycAvi == 0)]
gene_loss = pd.merge(HOG, gene_loss, on='HOG', suffixes=['_anno', ''], )
gene_loss

,HOG,HomSap_anno,ArtJam,DesRot,EptFus,EquCab,FelCat,HipArm,HomSap,IaIo,...,MolMol,MusMus,MyoDav,MyoMyo,NycAvi,PhyDis,PipKuh,PteAle,RhiFer,RouAeg
0,N0.HOG0000037,ZNF25,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,2
1,N0.HOG0000051,H2BC18,1,1,1,2,1,1,1,0,...,1,1,1,1,0,2,1,1,2,1
2,N0.HOG0000054,H2BC4,6,7,9,3,9,1,5,0,...,7,3,7,10,0,7,7,5,8,7
3,N0.HOG0000061,ZNF791,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,1
4,N0.HOG0000174,TMSB10,2,3,1,1,1,1,1,0,...,2,1,1,1,0,3,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,N0.HOG0017359,HMGB4,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,1
172,N0.HOG0017365,SRARP,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,1
173,N0.HOG0017367,ANGPTL7,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,1
174,N0.HOG0017380,GLI4,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,1
175,N0.HOG0017392,RALYL,1,1,1,1,1,1,1,0,...,1,1,1,1,0,1,1,1,1,1

In [216]:
gene_loss = count[(count.apply(lambda x: len(x[x==0]), axis = 1) == 2) & (count.PipKuh == 0) & (count.NycAvi == 0)]
gene_loss = pd.merge(HOG, gene_loss, on='HOG', suffixes=['_anno', ''])
for i in sorted(gene_loss.HomSap_anno):
    print(i)

ANKRD65
BDKRB2
CHRNA4
CPA3
CRLF2
CRYBA2
CRYBB1
DEFB129
GNGT2
IFIT3
NKAPL
PLCXD1
PPM1N
PRICKLE4
PRKX
PROK1
SEBOX
SMIM22
TARS3
TMPRSS5
TNIP3